.profile__add-button_plus {
  position: absolute;
  bottom: 15px;
  right: 65px;
  border: 0;
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .profile__add-button_plus {
    right: 130px;
  }
}
