.profile__avatar-change-button {
  height: 120px;
  position: absolute;
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s, background-image 0s;
  width: 120px;
  z-index: 2;
}
.profile__avatar-change-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../../src/images/change-arrow.svg);
}
