.profile__description {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  max-width: 336px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .profile__description {
    text-align: center;
    margin-top: 14px;
    font-size: 14px;
    line-height: 17px;
  }
}
